<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

  </head>
  <body>
      <header>
        <% if (username) { %>
          Welcome, <%= username %>.<a href="/user/logout"> Log out </a>
      <%  } %>
      </header>
      <nav>
       <ul class="nav nav-tabs">

      <li><a href="/playlist">HOME</a></li>


       </ul>
      </nav>



      <div class="playtable1">

          <table class="table table-striped">

          <thead>
          <tr>



          <th class="text">Artist</th>
           <th class="text">Song</th>
           <th class="text">Length</th>
            <th class="text">Writer</th>
             <th class="text">Producer</th>

           </tr>
           </thead>

           <div class="media">
           <tbody>
             <% for (let i = 0; i < song.length; i++) { %>
               <tr>
            <td><a href="/songs/<%= song[i].id %>/"><%= song[i].artist %></td>
            <td><a href="/songs/<%= song[i].id %>/"><%= song[i].song %></td>
            <td><a href="/songs/<%= song[i].id %>/"><%= song[i].length %></td>
            <td><a href="/songs/<%= song[i].id %>/"><%= song[i].written_by %></td>
            <td><a href="/songs/<%= song[i].id %>/"><%= song[i].producer %></td>
          <% } %>
        </tbody>
       </div>
        </table>
      </div>
      </div>




 <nav class="navbar navbar-light bg-light">
<form class="form-inline">
 <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
 <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
</nav>

  </body>
</html>
