<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

  </head>
  <body>
    <div class="header text">


      <header>
        <% if (username) { %>
        <h2>  Welcome, <%= username %>.</h2><h4><a href="/user/logout"> Log out </a></h4>
      <%  } %>
      </header>
      </div>
      <div class="indexall">


      <nav class="homenav">
    <ul class="nav nav-tabs">

      <li><a href="/playlist">HOME</a></li>


    </ul>
  </nav>



      <div class="playtable1">

          <table class="table table-striped">

          <thead>
          <tr>



          <th class="text">Artist</th>
           <th class="text">Song</th>
           <th class="text">Length</th>
            <th class="text">Writer</th>
             <th class="text">Producer</th>

           </tr>
           </thead>

           <div class="media">
           <tbody>
             <% for (let i = 0; i < song.length; i++) { %>
               <tr>
            <td><a href="/songs/<%= song[i].id %>/"><%= song[i].artist %></td>
            <td><a href="/songs/<%= song[i].id %>/"><%= song[i].song %></td>
            <td><a href="/songs/<%= song[i].id %>/"><%= song[i].length %></td>
            <td><a href="/songs/<%= song[i].id %>/"><%= song[i].written_by %></td>
            <td><a href="/songs/<%= song[i].id %>/"><%= song[i].producer %></td>
          <% } %>
        </tbody>
       </div>
        </table>
      </div>





 <%# <nav class="navbar navbar-light bg-light">
<form class="form-inline">
 <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
 <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
</nav>%>
<!--Footer-->
<footer class="page-footer center-on-small-only unique-color-dark pt-0">

    <div style="background-color: blue; width: 1100px;" >
        <div class="container">
            <!--Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!--Grid column-->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0 white-text"></h6>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <!--Facebook-->
                    <a class="icons-sm fb-ic ml-0"><i class="fa fa-facebook white-text mr-lg-4"> </i></a>
                    <!--Twitter-->
                    <a class="icons-sm tw-ic"><i class="fa fa-twitter white-text mr-lg-4"> </i></a>
                    <!--Google +-->
                    <a class="icons-sm gplus-ic"><i class="fa fa-google-plus white-text mr-lg-4"> </i></a>
                    <!--Linkedin-->
                    <a class="icons-sm li-ic"><i class="fa fa-linkedin white-text mr-lg-4"> </i></a>
                    <!--Instagram-->
                    <a class="icons-sm ins-ic"><i class="fa fa-instagram white-text mr-lg-4"> </i></a>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->
        </div>
    </div>

    <!--Footer Links-->
    <div class="container mt-5 mb-4 text-center text-md-left">
        <div class="row mt-3">

            <!--First column-->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-r">
                <h6 class="title font-bold"><strong>Playlist</strong></h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-r">
                <h6 class="title font-bold"><strong>Products</strong></h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><a href="#!">Playlist</a></p>
                <p><a href="#!">Blog</a></p>
                <p><a href="#!">BrandFlow</a></p>
                <p><a href="#!">Artist Development</a></p>
            </div>
            <!--/.Second column-->

            <!--Third column-->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-r">
                <h6 class="title font-bold"><strong>Useful links</strong></h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><a href="#!">Your Account</a></p>
                <p><a href="#!">Become an Affiliate</a></p>
                <p><a href="#!">Blog</a></p>
                <p><a href="#!">Help</a></p>
            </div>
            <!--/.Third column-->

            <!--Fourth column-->
            <div class="col-md-4 col-lg-3 col-xl-3">
                <h6 class="title font-bold"><strong>Contact</strong></h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><i class="fa fa-home mr-3"></i> Houston, TX 77498, US</p>
                <p><i class="fa fa-envelope mr-3"></i> info@PLAYLIST.com</p>
                <p><i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
                <p><i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
            </div>
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->

    <!-- Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid text1">
            © 2017 Copyright: <a href="https://playlist-deploy.herokuapp.com/user/login"><strong> playlist-deploy.herokuapp.com/playlist</strong></a>
        </div>
    </div>
    <!--/.Copyright -->

</footer>
<!--/.Footer-->
</div>
  </body>
</html>
