<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
  </form>
  <a href="/playlist/<%=onePlaylist.id%>/edit"><button type="button" name="button" class="edit-button">Edit Playlist</button></a>
  <form action="/playlist/<%=onePlaylist._id%>?_method=DELETE" method="POST">
          <button class="delete-button">Delete Playlist</button>
        </form>
    <img src='<%= onePlaylist.url %>' />
    <p>Submitted by: <%= onePlaylist.submitted_by %> </p>

    <table class="table table-striped">
    <thead>
    <tr>

    <th>Artist</th>
     <th>Song</th>
     <th>Length</th>

     </tr>
     </thead>
     <div class="media">
     <tbody>
       <% for (let i = 0; i < songs.length; i++) { %>
         <tr>
      <td><a href="/songs/<%= songs[i].id %>/"><%= songs[i].artist %></td>
      <td><a href="/songs/<%= songs[i].id %>/"><%= songs[i].song %></td>
      <td><a href="/songs/<%= songs[i].id %>/"><%= songs[i].length %></td>
    <% } %>
  </tbody>
 </div>
  </table>

    <h5>Add a song!</h5>

    <form action='/songs' method='post'>
      <input type='text' name='artist' placeholder='Artist' />
      <input type='text' name='song' placeholder='Song' />
      <input type='hidden' name='playlist' value='<%= onePlaylist._id %>' />
      <button type='submit'>Add Song</button>

      <a href="/playlist"><button type="button" name="button">Back</a></button>
  </body>
</html>
