<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
  <ul class="nav nav-tabs">

    <li><a href="/playlist">HOME</a></li>
    <li><a href="/songs">SONGS</a></li>

  </ul>
</nav>
  <a href="/playlist/<%=onePlaylist.id%>/edit"><button type="button" name="button" class="edit-button">Edit Playlist</button></a>
  <form action="/playlist/<%=onePlaylist._id%>?_method=DELETE" method="POST">
          <button class="delete-button">Delete Playlist</button>
        </form>
    <img src='<%= onePlaylist.url %>' />
    <div class="submit">


    <p>Submitted by: <%= onePlaylist.submitted_by %> </p>
</div>
    <table class="table table-striped">
    <thead>
    <tr>

    <th>Artist</th>
     <th>Song</th>
     <th>Length</th>
      <th>Writer</th>
       <th>Producer</th>
     </tr>
     </thead>
     <div class="media">
     <tbody>
       <% for (let i = 0; i < songs.length; i++) { %>
         <tr>
      <td><a href="/songs/<%= songs[i].id %>/"><%= songs[i].artist %></td>
      <td><a href="/songs/<%= songs[i].id %>/"><%= songs[i].song %></td>
      <td><a href="/songs/<%= songs[i].id %>/"><%= songs[i].length %></td>
      <td><a href="/songs/<%= songs[i].id %>/"><%= songs[i].written_by %></td>
      <td><a href="/songs/<%= songs[i].id %>/"><%= songs[i].producer %></td>
    <% } %>
  </tbody>
 </div>
  </table>

    <h5>Add a song!</h5>

    <form action='/songs' method='post'>
      <input type='text' name='artist' placeholder='Artist' />
      <input type='text' name='song' placeholder='Song' />
      <input type='hidden' name='playlist' value='<%= onePlaylist._id %>' />
      <button type='submit'>Add Song</button>

      <a href="/playlist"><button type="button" name="button">Back</a></button>
  </body>
</html>
